project/homeloan/HouseApprasial/data/xsd/homeloancust.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nationalID"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:byte" name="age"/>
        <xs:element type="xs:string" name="occupation"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="infotype"/>
    </xs:complexType>
  </xs:element>
</xs:schema>